

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>

      <ion-col size = "12" style="text-align: center; padding-left: 1em; padding-right: 1em;">

        <h2 style="margin-top: 1em; padding-left:0.7em; padding-right: 0.7em;">Uma forma rápida e prática de oferecer suporte às vítimas de violência e assédio!</h2>
        

              <img src="assets\Illustrations\psicologica.svg" style="width: 80%;">

              <p style="margin-top:1em; padding-right: 1em; font-size: 11pt;">Este aplicativo tem o intuito de gerar apoio, informação e cuidado, encaminhando essas denúncias aos setores
                competentes e assim trazer voz e força às mulheres que tanto necessitam deste tipo de ajuda para que contunuem Vivas.</p>
      
              <h3 style="margin-top: 1.5em;">ASSÉDIO É CRIME E VOCÊ NÃO PODE FICAR CALADA, DENUNCIE AGORA!</h3>


      </ion-col>  

    </ion-row>
  </ion-grid>



</ion-content>
