<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>

      <ion-col size = "12" style="text-align: center; padding-left: 1em; padding-right: 1em;">

        <h5 style="margin-top: 1em;">Uma forma rápida e prática de oferecer suporte às vítimas de violência e assédio</h5>
        

              <img src="assets\Illustrations\assedio-home.svg" style="width: 80%;">

              <p style="padding-left:1em; padding-right: 1em; font-size: 10pt;">O Canal Vivas tem o intuito de gerar apoio, informação e cuidado, encaminhando essas denúncias aos setores
                competentes e assim trazer voz e força às mulheres que tanto necessitam deste tipo de ajuda para que contunuem Vivas.</p>
      
              <h6>ASSÉDIO É CRIME E VOCÊ NÃO PODE FICAR CALADA, DENUNCIE AGORA!</h6>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
