<ion-tabs>

  <ion-header>
      <mat-toolbar style="height: 3.5em; background-color: #ed576b;">
            <ion-icon  *ngIf="!home"  name="home-outline" style="color: white;" (click)="goToHome()"></ion-icon>
            <ion-icon  *ngIf="home" name="home" style="color: white;" (click)="goToHome()"></ion-icon>
            <span style="color: white; margin-left: 1em;">Denuncia</span>

      </mat-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="goToDenuncia()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2" (click)="setHomeTrue()">
      <ion-icon name="home" background="warning"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1" disabled>
      <ion-icon name="megaphone"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab3" (click)="setHomeFalse()">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tipos de Assédio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  

</ion-tabs>
