
  <ion-toolbar>
    <ion-title><h5>Denuncia</h5></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size = "7">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size = "3">
          <ion-item>
            <ion-label position="floating">Idade</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "12">
          <ion-item>
            <ion-label position="floating">Telefone</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "12">
          <ion-label>Tipo de Assédio</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="M">Moral</ion-select-option>
            <ion-select-option value="F">Físico</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "12">
          <ion-item>
            <ion-label position="floating">Relato da ocorrência</ion-label>
            <ion-textarea style="height: 10em;"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size = "12">
          <ion-item>
            <ion-label position="floating">Local da ocorrência</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col><h6>Deseja que entremos em contato? </h6></ion-col>
        <ion-segment>
          <ion-segment-button value="Sim">
            <ion-label>Sim</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Não">
            <ion-label>Não</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-grid>
    



  </ion-content>

  

